<nav class="navbar navbar-expand-lg sticky-top wl-navbar" data-bs-theme="light">
  <div class="container">
    <a class="navbar-brand wl-navbar__brand" href="/">
      <span class="wl-navbar__brand-icon">
        <i class="fa-regular fa-compass"></i>
      </span>
      <span class="wl-navbar__brand-copy">
        <span class="wl-navbar__brand-title">WanderLust</span>
        <span class="wl-navbar__brand-subtitle">Find your next stay</span>
      </span>
    </a>
    <button class="navbar-toggler wl-navbar__toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse wl-navbar__collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-3 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link wl-navbar__link <%= currPath === '/' ? 'wl-navbar__link--active' : '' %>" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link wl-navbar__link <%= currPath.startsWith('/listing') && currPath !== '/listing/new' ? 'wl-navbar__link--active' : '' %>"
            href="/listing">Explore stays</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle wl-navbar__link <%= currPath === '/listing/new' ? 'wl-navbar__link--active' : '' %>"
            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Host
          </a>
          <ul class="dropdown-menu wl-navbar__menu">
            <li><a class="dropdown-item wl-navbar__dropdown-item" href="/listing/new">Add listing</a></li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if (!currUser) { %>
          <li class="nav-item">
            <a class="nav-link wl-navbar__auth-link <%= currPath === '/login' ? 'wl-navbar__auth-link--active' : '' %>"
              href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link wl-navbar__auth-link wl-navbar__auth-link--primary <%= currPath === '/signup' ? 'wl-navbar__auth-link--active' : '' %>"
              href="/signup">Signup</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <span class="wl-navbar__user-pill">
              <i class="fa-regular fa-circle-user"></i>
              <%= currUser.username %>
            </span>
          </li>
          <li class="nav-item">
            <a class="nav-link wl-navbar__auth-link wl-navbar__auth-link--primary" href="/logout">Logout</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
