<% layout("layouts/boilerplate") -%>

<h3>All listings</h3>

<div class="row g-4 listing-grid">
  <% for (let listing of allListing) { %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.title %>">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><%= listing.title %></h5>
          <p class="card-text"><%= listing.description %></p>
          <p class="mt-auto mb-2">Price: &#8377; <%= listing.price.toLocaleString("en-IN") %> /night</p>
          <a href="/listing/<%= listing._id %>" class="btn btn-primary">Explore More</a>
        </div>
      </div>
    </div>
  <% } %>
</div>
